*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
h1{
    width: 20%;
    position: relative;
    top: 200px;
    left: 50px;
}
body{
    background-color: #43a047;
}

.wrapper{
    display: flex;
    background-color: #fff;
    min-width: 40%;
    width: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: 8px;
}
.container{
    margin-left: 20px;
}

label{
    display: block;
}

span{
    position: relative;
    font-size: 22px;
    bottom: -1px;
}

.opt-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

button{
    background-color: #43a047;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 8px;
    border: 4px solid #000;
}
input[type="color"]::-moz-color-swatch{
    border-radius: 8px;
    border: 4px solid #000;
}

.gridCol{
    height: 1.1em;
    width: 1.1em;
    border: 1px solid #696868;
}

.gridRow{
    display: flex;
}

@media only screen and (max-width: 768px){
    .gridCol{
        height: 0.8em;
        width: 0.8em;
    }
}